{% extends "base.html.twig" %}

{% block title %}
	Projet symfony - Accueil
{% endblock %}

{% block body %}
	<h1>Hello</h1>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

{% endblock %}
