{% extends "base.html.twig" %}

{% block title %}
	Projet symfony - Accueil
{% endblock %}

{% block body %}
	<h1>Hello</h1>
	{# {% for picture in pictures %}
		<div>
			<div>
				<img src="{{ picture.url }}">
			</div>
		</div>
	{% endfor %} #}
{% endblock %}
