{% extends 'base.html.twig' %}

{% block title %}Profil update
{% endblock %}

{% block body %}
	<div>
		<h1 class="h1">Profil update</h1>

		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning">
				{{ message }}
			</div>
		{% endfor %}
		{{ form(form) }}
		</div>
	{% endblock %}
