{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="login-box">
		<h1 class="h1">Connexion</h1>

		{% for message in app.flashes('success') %}
			<div>
				{{ message }}
			</div>
		{% endfor %}

		{% if error %}
			<div class="alert-success">
				{{ error.messageKey |trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		<form action="{{ path('security.login')}}" method="POST">
			<div class="user-box">
				<input type="email" id="username" name="_username" value="{{ last_username }}">
				<label for="username">Email</label>
			</div>

			<div class="user-box">
				<input type="password" id="password" name="_password">
				<label for="password">Password</label>
			</div>

			<button type="submit">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				Connexion
			</button>
		</form>
	</div>
{% endblock %}
